@model Vidly.Models.Customer
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer</h1>

<table class="table" style="width:100%; font-size:x-large">
    <tbody>
        <tr><td>@Model.Name<td></tr>
    </tbody>
</table>
<ul style="font-size:large">
    <li>Membership Type: @Model.MembershipType.TypeName</li>
    @if(@Model.Birthdate!=null)
    {
        <li>Birthday: @Model.Birthdate.Value.ToShortDateString()</li>
    }
        
</ul>
