<appSettings>
  <add key="FacebookAppId" value="1080293645459279"/>
  <add key="FacebookAppSecret" value="0f253d5841efde756e2c1d241c70a1c6"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
